<div class="jumbotron">
    <h1> Resource List for <%= user.googlename %> </h1>
    <p> Here is your resources for the project. </p>
    <ul>
      <li><a href="https://newsignature.github.io/us-map/">Jquery Map information</a></li>
      <li><a href="https://github.com/bellemscott/authdemo">My github</a></li>
    </ul>
  </div>